 //color
$white : #fff;
$gray: #F4F6F4;
$dark-gray: #E9EDE9;
$primary-blue: #05668D;
$primary-purple: #62466B;
$second-purple: #C49BBB;
$primary-green: #0B5D1E;
$error-text: #FF0022;





//fonts

//sizes

//break points
$sm: 480px;
$md: 768px;
$lg: 1024px;
$bg-lg: 1200px;
