<div class="container-dashboard">
 <nav class="container-dashboard">
   <button (click)="setActiveTab('info')" [class.active]="activeTab === 'info'">Ver info</button>
   <button (click)="setActiveTab('form')" [class.active]="activeTab === 'form'">Crear Tarea de sesión</button>
   <button (click)="setActiveTab('list')" [class.active]="activeTab === 'list'">ver tareas</button>
   <button (click)="setActiveTab('notifications')" [class.active]="activeTab === 'notifications'">notificaciones</button>
   <app-close/>
 </nav>
  <ng-container *ngIf="activeTab === 'info'">
    <div class="section-one" *ngIf="userInfo">
      <app-user-info [userInfo]="userInfo"/>
    </div>
  </ng-container>

  <ng-container *ngIf="activeTab === 'form'">
    <app-task-form [userInfo]="userInfo"/>
  </ng-container>

  <ng-container *ngIf="activeTab === 'list'">
    lista
  </ng-container>
  <ng-container *ngIf="activeTab === 'notifications'">
    lista
  </ng-container>
</div>



<ng-template #loading>
  loading ...
</ng-template>
