<div class="container-dashboard container">
 <div class="container-dashboard tab">
   <span class="button"><button (click)="setActiveTab('info')" class="blue-btn" [class.active]="activeTab === 'info'">Ver info</button></span>
   <span class="button"><button (click)="setActiveTab('form')" class="blue-btn" [class.active]="activeTab === 'form'">Crear Tarea</button></span>
   <span class="button"><button (click)="setActiveTab('notifications')" class="blue-btn"  [class.active]="activeTab === 'notifications'">notificaciones</button></span>
   <span class="button"><app-close/></span>
 </div>
<div class="content">
  <ng-container *ngIf="activeTab === 'info'">
    <div class="section-one tab-section" *ngIf="userInfo">
      <app-user-info [userInfo]="userInfo"/>
    </div>
  </ng-container>

  <ng-container *ngIf="activeTab === 'form'">
    <div class="section-two tab-section"><app-task-form [userInfo]="userInfo"/></div>
  </ng-container>

  <ng-container *ngIf="activeTab === 'notifications'">
    lista
  </ng-container>
</div>
</div>



<ng-template #loading>
  loading ...
</ng-template>
